rules_version = '2';

service cloud.firestore {
  match /databases/{database}/documents {
    function isUser(userId) {
      return request.auth.uid == userId;
    }

    function isAdmin() {
      return request.auth != null && 
             request.auth.token.admin == true;
    }
    
    match /users/{userId} {
      allow read, write: if isUser(userId) || isAdmin();

      match /documents/{documentId} {
        allow read: if isUser(userId) || isAdmin() || resource.data.url_privilege == 'can_view' || resource.data.url_privilege == 'can_edit';
        allow write: if isUser(userId) || isAdmin() || resource.data.url_privilege == 'can_edit';
      }

      match /templates/{templateId} {
        allow read: if isUser(userId) || isAdmin() || resource.data.visibility == 'public';
        allow write: if isUser(userId) || isAdmin();
      }
    }
  }
}
