.login {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
}

.login .MuiButtonBase-root{
    text-transform: none;
    height: 50px;
}
.login .googleButton {
    background-color: #ffffff;
    color: #1f1f1f;
}
.login .googleButton:hover {
    background-color: #f2f2f2;
}

.login .githubButton {
    background-color: #444;
    color: #FAFAFA;
}
.login .githubButton:hover {
    background-color: #030303;
}